@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-image: url(imagens/imagemfarinha.png);
	background-size: cover;
	/* todo o fundo do site */
	background-repeat: no-repeat;
	/*não repete a imagem */
	height: 300px;
}

.perfil {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.titulo {
	width: 89px;
	height: 71px;
	margin-left: 750px;
	margin-top: 17px;
}

.bolos_guto {
	font-weight: 400;
	font-size: 28px;
	line-height: 75%;
	color: #6b705b;
	text-align: center;
	font-family: cookie;
}

.guto {
	font-weight: 400;
	font-size: 60px;
	text-align: center;
	font-family: cookie;
	color: #6b705b;
	margin-bottom: 22px;
}

.selecao {
	margin-top: 50px;
	background-color: #6b705b;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	text-decoration: none;
}

.opcoes {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 75.4%;
	text-align: center;
	text-decoration: none;
	color: #FFE8D6;
}
.opcoes a{
	color: #FFE8D6;
}


.imagembl {
	width: 1440px;
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: 52px;

}


.cardapio {
	padding-top: 52px;
}


.textcardapio {
	width: 123;
	height: 34;
	top: 867px;
	left: 658px;
	font-family: Cookie;
	font-weight: 400;
	font-size: 45px;
	line-height: 75%;
	letter-spacing: 0%;
	text-align: center;
	color: #CB997E;
	margin-bottom: 52px;

}

.coluna {
	column-count: 4;
	/* Número de colunas */
	column-gap: 20px;
	/* Espaçamento entre colunas */


}

.textcarda {
	width: 123;
	height: 34;
	top: 867px;
	left: 658px;
	font-family: Roboto;
	font-weight: 400;
	font-size: 18px;
	line-height: 130%;
	letter-spacing: 0%;
	color: #6B705C;
	margin-left: 52px;

}

.facilidades {
	width: 1440;
	height: 390;
	top: 1189px;
	left: -1px;
	background-color: #6B705C;
	margin-bottom: 52px;
	margin-top: 52px;
}

.titulo-facilidades {
	width: 70;
	height: 34;
	top: 1241px;
	left: 685px;
	font-family: Cookie;
	font-weight: 400;
	font-size: 45px;
	line-height: 75%;
	text-align: center;
	color: #FFE8D6;
	padding-top: 52px;
}

.foto-bolos {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 52px;
	margin-bottom: 52px;
	margin-left: 104px;
	margin-right: 104px;
}

.titulo-mapa {
	width: 104;
	height: 34;
	top: 1631px;
	left: 667px;
	font-family: Cookie;
	font-weight: 400;
	font-size: 45px;
	line-height: 75%;
	letter-spacing: 0%;
	text-align: center;
	color: #CB997E;
	margin-bottom: 52px;
}

.mapa {
	border-width: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 52px;
	margin-bottom: 52px;
    
}

.mapa-borda{
   border-bottom: 5px solid #6B705C;
	margin-bottom: 23px;
	
}

.bolos_guto2 {
	font-weight: 400;
	font-size: 28px;
	line-height: 75%;
	color: #6b705b;
	text-align: center;
	font-family: cookie;
}

.guto2 {
	font-weight: 400;
	font-size: 60px;
	text-align: center;
	font-family: cookie;
	color: #6b705b;
}

.icones {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 13px;
}